<!DOCTYPE html>
<html>
   <head>
    <title>Country to Raster</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

   <body>
		<nav class="navbar navbar-default" role="navigation">
			<ul class="nav navbar-nav">
				How it works? see the <a href="https://github.com/WFP-VAM/countrytoraster_app">repository.</a>
			</ul>
		</nav>

		<div class="container">
		<img src="http://www.godan.info/sites/default/files/logos/world_food_programme_un_vulnerability_analysis_mapping_vam.jpg"
		style="float: right;" width="300" />
		</div>

		<div class="container">
			<form class="form" action = "/convert" method = "POST" enctype = "multipart/form-data">

			 <div class="form-group">
				Country (ISO code): <input type="text" name="country"><br><br>
				Projection: <input type="number" name="projection" value="3857"><br><br>
				Grid Size in m (or ° for 4326): <input type="number" step=0.001 name="gsize" value="10000"><br><br>
        Source:  <select name="api_field">
                  <option value="1">Natural Earth</option>
                  <option value="2">Open Street Map</option>
              </select>
        <br><br>
			 </div>
			 <button type="submit" class="btn btn-default" name="action" value="download">Download Tiff</button>
       <button type="submit" class="btn btn-default" name="action" value="preview">Preview</button>
			</form>
		</div>

   </body>
